<ons-page id="main-page" class="main-page">
    <ons-toolbar>
        <div class="center">Laika Notes</div>
        <div class="right">
            <ons-toolbar-button id="app-popover-btn">
                <ons-icon icon="fa-ellipsis-v" style="font-size: 32px; width: 1em">
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-list>
        <ons-list-header>Notes</ons-list-header>
        <span id="notes-container">
            
        </span>
    </ons-list>
    <ons-bottom-toolbar class="main-bottom-toolbar">
        <div id="notes-edit" class="left"><ons-icon icon="fa-pencil"></ons-icon></div>
        <div id="create-note" class="right"><ons-icon icon="fa-pencil-square-o"></ons-icon></div>
        <div class="center" style="text-align: center; line-height: 44px"><span id="notes-amount"></span> notes
        </div>
    </ons-bottom-toolbar>
</ons-page>