<ons-page class="note-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button><span>Notes</span></ons-back-button>
        </div>
        <!-- <div class="note-name center"></div>
        <div class="right">
            <ons-toolbar-button>
            </ons-toolbar-button>
        </div> -->
    </ons-toolbar>
    <div class="ql-toolbar ql-snow">
        <span class="ql-formats">
            <button type="button" class="ql-undo">
                <svg viewbox="0 0 18 18">
                    <polygon class="ql-fill ql-stroke" points="6 10 4 12 2 10 6 10"></polygon>
                    <path class="ql-stroke" d="M8.09,13.91A4.6,4.6,0,0,0,9,14,5,5,0,1,0,4,9"></path>
                </svg>
            </button>
            <button type="button" class="ql-redo">
                <svg viewbox="0 0 18 18">
                    <polygon class="ql-fill ql-stroke" points="12 10 14 12 16 10 12 10"></polygon>
                    <path class="ql-stroke" d="M9.91,13.91A4.6,4.6,0,0,1,9,14a5,5,0,1,1,5-5"></path>
                </svg>
            </button>
        </span>
        <span class="ql-formats">
            <select class="ql-color">
                <option selected="selected"></option>
                <option value="#e60000"></option>
                <option value="#ff9900"></option>
                <option value="#ffff00"></option>
                <option value="#008a00"></option>
                <option value="#0066cc"></option>
                <option value="#9933ff"></option>
                <option value="#ffffff"></option>
                <option value="#facccc"></option>
                <option value="#ffebcc"></option>
                <option value="#ffffcc"></option>
                <option value="#cce8cc"></option>
                <option value="#cce0f5"></option>
                <option value="#ebd6ff"></option>
                <option value="#bbbbbb"></option>
                <option value="#f06666"></option>
                <option value="#ffc266"></option>
                <option value="#ffff66"></option>
                <option value="#66b966"></option>
                <option value="#66a3e0"></option>
                <option value="#c285ff"></option>
                <option value="#888888"></option>
                <option value="#a10000"></option>
                <option value="#b26b00"></option>
                <option value="#b2b200"></option>
                <option value="#006100"></option>
                <option value="#0047b2"></option>
                <option value="#6b24b2"></option>
                <option value="#444444"></option>
                <option value="#5c0000"></option>
                <option value="#663d00"></option>
                <option value="#666600"></option>
                <option value="#003700"></option>
                <option value="#002966"></option>
                <option value="#3d1466"></option>
            </select>
            <select class="ql-background">
                <option value="#000000"></option>
                <option value="#e60000"></option>
                <option value="#ff9900"></option>
                <option value="#ffff00"></option>
                <option value="#008a00"></option>
                <option value="#0066cc"></option>
                <option value="#9933ff"></option>
                <option selected="selected"></option>
                <option value="#facccc"></option>
                <option value="#ffebcc"></option>
                <option value="#ffffcc"></option>
                <option value="#cce8cc"></option>
                <option value="#cce0f5"></option>
                <option value="#ebd6ff"></option>
                <option value="#bbbbbb"></option>
                <option value="#f06666"></option>
                <option value="#ffc266"></option>
                <option value="#ffff66"></option>
                <option value="#66b966"></option>
                <option value="#66a3e0"></option>
                <option value="#c285ff"></option>
                <option value="#888888"></option>
                <option value="#a10000"></option>
                <option value="#b26b00"></option>
                <option value="#b2b200"></option>
                <option value="#006100"></option>
                <option value="#0047b2"></option>
                <option value="#6b24b2"></option>
                <option value="#444444"></option>
                <option value="#5c0000"></option>
                <option value="#663d00"></option>
                <option value="#666600"></option>
                <option value="#003700"></option>
                <option value="#002966"></option>
                <option value="#3d1466"></option>
            </select>
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button class="ql-strike" type="button"></button>
            <select class="ql-header">
                <option value="1"></option>
                <option value="2"></option>
                <option selected=""></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered" type="button">
                <svg viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line>
                    <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line>
                    <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14"></line>
                    <line class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line>
                    <path class="ql-fill" d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z"></path>
                    <path class="ql-stroke ql-thin" d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path>
                    <path class="ql-stroke ql-thin" d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109"></path>
                </svg>
            </button>
            <button class="ql-list" value="bullet" type="button">
                <svg viewBox="0 0 18 18">
                    <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line>
                    <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line>
                    <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line>
                    <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line>
                    <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line>
                    <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line>
                </svg>
            </button>
            <select class="ql-align">
                <option selected=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button type="button" class="ql-audio">
                <span class="fa fa-microphone"></span>
            </button>
            <button type="button" class="ql-uploadaudio">
                <input id="audio-file-input" name="audio-file" type="file" class="hidden-inputfile uploadaudio-input" accept="audio/*">
                <label for="audio-file-input">
                    <svg viewbox="0 0 18 18">
                        <ellipse class="ql-fill" cx="10.5" cy="14" rx="2.5" ry="2"></ellipse>
                        <path class="ql-stroke" d="M12,14V3c0,1.5,3,2.021,3,5"></path>
                        <path class="ql-fill" d="M7,4A5,5,0,0,0,7,14a3.191,3.191,0,0,1,3-2.957V5.023A4.955,4.955,0,0,0,7,4ZM4.06,8.412a0.5,0.5,0,0,1-.49.4,0.485,0.485,0,0,1-.1-0.01,0.5,0.5,0,0,1-.393-0.588A3.98,3.98,0,0,1,6.216,5.079a0.5,0.5,0,0,1,.2.98A2.985,2.985,0,0,0,4.06,8.412ZM7,10A1,1,0,1,1,8,9,1,1,0,0,1,7,10Z"></path>
                    </svg>
                </label>
            </button>
            <button type="button" class="ql-image"></button>
            <button class="ql-link" type="button"></button>
        </span>
    </div>
    <input placeholder="Note's title" class="text-input note-title-edit">
    <div class="editor note-content"></div>
    <div class="audio-recording-screen-filler">
        <div class="stop-recording-wrapper">
            <p>Stop Recording</p>
            <ons-button style="background-color: #ce3a30" modifier="cta" class="stop-recording">Stop</ons-button>
        </div>
    </div>
</ons-page>